@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

#futur {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  font-style: italic;
  font-size: 90px;
  text-align: center;
  padding-top: 50px;
}

@media screen and (min-width: 440px) {
  header nav #navigation {
    margin: 0 15%;
  }
}

#main {
  background-color: #eee;
  padding: 10px 0;
}
#main h2 {
  margin: 31px 0;
  font-family: "Playfair Display";
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  #main h2 {
    font-size: 6.875rem;
  }
}
@media screen and (max-width: 991px) {
  #main h2 {
    font-size: 4.35rem;
  }
}
@media screen and (max-width: 575px) {
  #main h2 {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1400px) {
  #main p {
    margin: 0 600px 0 0;
  }
}
@media screen and (max-width: 1399px) {
  #main p {
    margin: 0 400px 0 0;
  }
}
@media screen and (max-width: 991px) {
  #main p {
    margin: 0;
  }
}
#main .main-shoot {
  padding: 40px 0;
}
#main .main-shoot .pos-1 {
  width: auto;
  height: 200px;
}
@media screen and (max-width: 1399px) {
  #main .main-shoot .pos-1 {
    width: 250px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #main .main-shoot .pos-1 {
    margin-top: 200px;
  }
}
@media screen and (max-width: 767px) {
  #main .main-shoot .pos-1 {
    margin-top: 50px;
  }
}
#main .main-shoot .pos-2 {
  width: 250px;
}
@media screen and (max-width: 767px) {
  #main .main-shoot .pos-2 {
    margin-top: 50px;
  }
}
#main .main-shoot .pos-3 {
  width: 250px;
}
@media screen and (min-width: 1200px) {
  #main .main-shoot .pos-3 {
    margin-top: 111px;
  }
}
@media screen and (max-width: 767px) {
  #main .main-shoot .pos-3 {
    margin-top: 50px;
  }
}
#main .main-shoot .pos-4 {
  width: 250px;
}
@media screen and (min-width: 1200px) {
  #main .main-shoot .pos-4 {
    margin-top: -60px;
  }
}
@media screen and (max-width: 767px) {
  #main .main-shoot .pos-4 {
    margin-top: 50px;
  }
}
#main .main-shoot .pos-5 {
  width: auto;
  height: 200px;
}
@media screen and (max-width: 1399px) {
  #main .main-shoot .pos-5 {
    width: 250px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #main .main-shoot .pos-5 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  #main .main-shoot .pos-5 {
    margin-top: -50px;
  }
}
@media screen and (max-width: 767px) {
  #main .main-shoot .pos-5 {
    margin-top: 50px;
  }
}
#main .main-shoot .pos-6 {
  width: 250px;
}
@media screen and (min-width: 1200px) {
  #main .main-shoot .pos-6 {
    margin-top: -200px;
  }
}
@media screen and (max-width: 1199px) {
  #main .main-shoot .pos-6 {
    margin-top: 50px;
  }
}
#main .main-shoot .main-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  #main .main-shoot .main-list {
    display: none;
  }
}
#main .main-shoot .main-list ol {
  margin-top: 55px;
}
#main .main-shoot .main-list ol li {
  text-align: left;
  font-size: 18px;
}

#sample1 {
  padding: 10px 0;
}
#sample1 .content {
  margin: 50px 0;
}
@media screen and (min-width: 992px) {
  #sample1 .content {
    margin: 150px 0;
  }
}
#sample1 .content h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 575px) {
  #sample1 .content h3 {
    font-size: 2rem;
  }
}
#sample1 .content p {
  margin: 20px;
}
@media screen and (min-width: 1200px) {
  #sample1 .content p {
    margin: 20px 175px;
  }
}
#sample1 .content button {
  font-weight: bold;
  padding: 15px 20px;
}
#sample1 .illustration {
  height: 100%;
}
#sample1 .illustration .back-img {
  height: auto;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  #sample1 .illustration .back-img {
    width: 550px;
  }
}
@media screen and (max-width: 1199px) {
  #sample1 .illustration .back-img {
    width: 499px;
  }
}
@media screen and (max-width: 991px) {
  #sample1 .illustration .back-img {
    display: none;
  }
}
#sample1 .illustration .img-sample1 {
  width: 450px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  #sample1 .illustration .img-sample1 {
    margin-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  #sample1 .illustration .img-sample1 {
    margin-top: 130px;
  }
}
@media screen and (max-width: 991px) {
  #sample1 .illustration .img-sample1 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  #sample1 .illustration .img-sample1 {
    width: 250px;
  }
}

#about {
  background-position: center;
  background-size: cover;
  padding: 110px 0;
}
@media screen and (min-width: 1921px) {
  #about {
    background-image: url(../images/aboutw.jpg);
  }
}
@media screen and (max-width: 1920px) {
  #about {
    background-image: url(../images/aboutfhd.jpg);
  }
}
@media screen and (max-width: 1280px) {
  #about {
    background-image: url(../images/abouthd.jpg);
  }
}
@media screen and (max-width: 991px) {
  #about {
    background-image: url(../images/aboutshd.jpg);
  }
}
@media screen and (max-width: 720px) {
  #about {
    background-image: url(../images/aboutsd.jpg);
  }
}
#about .pos1 {
  padding: 0;
}
#about .pos1 img {
  width: 100%;
}
#about .pos1 .co1 {
  background-color: #333;
}
#about .pos1 .co1 h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.15rem;
  color: #fff;
  padding: 50px;
  margin: 0;
}
#about .pos2 {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #about .pos2 {
    margin-top: 222px;
  }
}
@media screen and (max-width: 991px) {
  #about .pos2 {
    margin-top: 15px;
  }
}
#about .pos2 img {
  width: 100%;
  border-top-right-radius: 0.375rem;
}
@media screen and (max-width: 991px) {
  #about .pos2 img {
    border-top-left-radius: 0.375rem;
  }
}
#about .pos2 .co2 {
  background-color: #CCC;
  padding: 20px;
}
#about .pos2 .co2 h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
#about .pos2 .co2 p {
  margin: 20px;
}
#about .pos2 .co2 button {
  padding: 15px 20px;
  font-weight: bold;
}
#about .pos3 {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #about .pos3 {
    margin-top: 422px;
  }
}
@media screen and (max-width: 991px) {
  #about .pos3 {
    margin-top: 15px;
  }
}
#about .pos3 img {
  width: 100%;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
@media screen and (max-width: 991px) {
  #about .pos3 img {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
}

#sample2 {
  padding: 40px 0 10px 0;
}
#sample2 .content {
  margin: 50px 0;
}
@media screen and (min-width: 992px) {
  #sample2 .content {
    margin: 350px 0 150px 0;
  }
}
#sample2 .content h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 575px) {
  #sample2 .content h3 {
    font-size: 2rem;
  }
}
#sample2 .content p {
  margin: 20px 0;
}
@media screen and (min-width: 1200px) {
  #sample2 .content p {
    margin-right: 175px;
  }
}
#sample2 .content button {
  font-weight: bold;
  padding: 15px 20px;
}
#sample2 .illustration {
  height: 100%;
  margin-top: -5px;
}
@media screen and (max-width: 991px) {
  #sample2 .illustration {
    text-align: center;
  }
}
#sample2 .illustration .back-img {
  height: auto;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  #sample2 .illustration .back-img {
    width: 550px;
  }
}
@media screen and (max-width: 1199px) {
  #sample2 .illustration .back-img {
    width: 499px;
  }
}
@media screen and (max-width: 991px) {
  #sample2 .illustration .back-img {
    display: none;
  }
}
#sample2 .illustration .img-sample2 {
  width: 450px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  #sample2 .illustration .img-sample2 {
    margin-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  #sample2 .illustration .img-sample2 {
    margin-top: 130px;
  }
}
@media screen and (max-width: 991px) {
  #sample2 .illustration .img-sample2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  #sample2 .illustration .img-sample2 {
    width: 250px;
  }
}

#deal {
  background-position: center;
  background-size: cover;
  padding: 110px 0;
}
@media screen and (min-width: 1921px) {
  #deal {
    background-image: url(../images/dealw.jpg);
  }
}
@media screen and (max-width: 1920px) {
  #deal {
    background-image: url(../images/dealfhd.jpg);
  }
}
@media screen and (max-width: 1280px) {
  #deal {
    background-image: url(../images/dealhd.jpg);
  }
}
@media screen and (max-width: 991px) {
  #deal {
    background-image: url(../images/dealshd.jpg);
  }
}
@media screen and (max-width: 720px) {
  #deal {
    background-image: url(../images/dealsd.jpg);
  }
}
#deal .pos1 {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #deal .pos1 {
    margin-top: 235px;
  }
}
@media screen and (max-width: 991px) {
  #deal .pos1 {
    margin-top: 0px;
  }
}
#deal .pos1 img {
  width: 100%;
}
#deal .pos1 .co1 {
  background-color: #0E5144;
}
#deal .pos1 .co1 h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.15rem;
  color: #fff;
  padding: 50px;
  margin: 0;
}
#deal .pos1 .co1 p {
  margin: 0 30px 30px 30px;
  color: #fff;
}
#deal .pos1 .co1 button {
  padding: 15px 20px;
  font-weight: bold;
  margin: 15px;
}
#deal .pos2 {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #deal .pos2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 991px) {
  #deal .pos2 {
    margin-top: 15px;
  }
}
#deal .pos2 img {
  width: 100%;
}
#deal .pos2 .img21 {
  border-top-right-radius: 0.375rem;
}
@media screen and (max-width: 991px) {
  #deal .pos2 .img21 {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 991px) {
  #deal .pos2 .img22 {
    border-radius: 0.375rem;
  }
}
#deal .pos3 {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #deal .pos3 {
    margin-top: 70px;
  }
}
@media screen and (max-width: 991px) {
  #deal .pos3 {
    margin-top: 15px;
  }
}
#deal .pos3 img {
  width: 100%;
  border-top-right-radius: 0.375rem;
}
@media screen and (max-width: 991px) {
  #deal .pos3 img {
    border-top-left-radius: 0.375rem;
  }
}
#deal .pos3 .co2 {
  background-color: #eee;
  padding: 20px;
}
#deal .pos3 .co2 h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
#deal .pos3 .co2 p {
  margin: 20px;
}
#deal .pos3 .co2 button {
  padding: 15px 20px;
  font-weight: bold;
  background-color: #0E5144;
  color: #fff;
}
#deal .pos3 .co2 button:hover {
  background-color: #246D5F;
  border: #246D5F 1px solid;
}

#contact {
  background-color: #666;
  padding: 77px;
}
#contact .card {
  margin: 55px;
}
#contact .card img {
  width: 144px;
  height: 144px;
  margin: 25px 0 15px 0;
}
#contact .card h2 {
  margin: 12px 0;
  font-family: "Playfair Display";
  font-weight: 700;
}
#contact .card h4 {
  margin: 25px 22px;
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
}
#contact .card p {
  margin: 33px 51px;
}
#contact .card .networks {
  margin: 50px;
  font-size: 33px;
}
#contact .card .networks i {
  padding: 0 10px;
}/*# sourceMappingURL=style.css.map */