@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

* {margin: 0; padding: 0;}

#futur {
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    font-style: italic;
    font-size: 90px;
    text-align: center;
    padding-top: 50px;
}

// HEADER SECTION //
header {
    nav {
        #navigation {
            @media screen and (min-width: 440px) {
                margin: 0 15%;
            }
        }
    }
}
// HEADER SECTION //

// MAIN SECTION //
#main {
    background-color: #eee;
    padding: 10px 0;
    h2 {
        @media screen and (min-width: 992px) {
            font-size: 6.875rem;
        }
        @media screen and (max-width: 991px) {
            font-size: 4.35rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 2.75rem;
        }
        margin: 31px 0;
        font-family: 'Playfair Display';
        font-weight: 700;
    }
    p {
        @media screen and (min-width: 1400px) {
            margin: 0 600px 0 0;
        }
        @media screen and (max-width: 1399px) {
            margin: 0 400px 0 0;
        }
        @media screen and (max-width: 991px) {
            margin: 0;
        }
    }
    .main-shoot {
        padding: 40px 0;
        .pos-1 {
            @media screen and (max-width: 1399px) {
                width: 250px;
                height: auto;
            }
            @media screen and (min-width: 1200px) {
                margin-top: 200px;
            }
            @media screen and (max-width: 767px) {
                margin-top: 50px;
            }
            width:auto;
            height:200px;
        }
        .pos-2 {
            @media screen and (max-width: 767px) {
                margin-top: 50px;
            }
            width:250px;
        }
        .pos-3 {
            @media screen and (min-width: 1200px) {
                margin-top: 111px;
            }
            @media screen and (max-width: 767px) {
                margin-top: 50px;
            }
            width:250px;
        }
        .pos-4 {
            @media screen and (min-width: 1200px) {
                margin-top: -60px;
            }
        
            @media screen and (max-width: 767px) {
                margin-top: 50px;
            }
            width:250px;
        }
        .pos-5 {
            @media screen and (max-width: 1399px) {
                width: 250px;
                height: auto;
            }
            @media screen and (min-width: 1200px) {
                margin-top: 50px;
            }
            @media screen and (max-width: 1199px) {
                margin-top: -50px;
            }
            @media screen and (max-width: 767px) {
                margin-top: 50px;
            }
            width:auto;
            height: 200px;
        }
        .pos-6 {
            @media screen and (min-width: 1200px) {
                margin-top: -200px;
            }
            @media screen and (max-width: 1199px) {
                margin-top: 50px;
            }
            width:250px;
        }
        .main-list {
            @media screen and (max-width: 767px) {
                display: none;
            }
            display: flex;
            justify-content: center;
            ol {
                margin-top: 55px;
                li {
                    text-align: left;
                    font-size: 18px;
                }
            }
        }
    }
}
// MAIN SECTION //

// SAMPLE1 SECTION //
#sample1 {
    padding: 10px 0;
    .content {
        @media screen and (min-width: 992px) {
            margin: 150px 0;
        }
        margin: 50px 0;
        h3 {
            @media screen and (max-width: 575px) {
                font-size: 2rem;
            }
            font-family: 'Playfair Display';
            font-weight: 700;
            font-size: 3rem;
        }
        p {
            @media screen and (min-width:1200px) {
                margin: 20px 175px;
            }
            margin: 20px;
        }
        button {
            font-weight: bold;
            padding: 15px 20px;
        }
    }
    .illustration {
        height: 100%;
        .back-img {
            @media screen and (min-width:1200px) {
                width: 550px; 
            }
            @media screen and (max-width: 1199px) {
                width: 399px;
            }
            @media screen and (max-width: 991px) {
                display: none;
            }
            height: auto; 
            position: absolute;
        }
        .img-sample1 {
            @media screen and (min-width:1400px) {
                margin-right: 40px;
            }
            @media screen and (min-width: 992px) {
                margin-top: 130px;
            }
            @media screen and (max-width: 991px) {
                margin-bottom: 50px;
            }
            @media screen and (max-width: 575px) {
                width: 250px;
            }
            width: 450px;
            position: relative; 
        }
    }
}
// SAMPLE1 SECTION //

// ABOUT SECTION //
#about {
    @media screen and (min-width: 1921px) {
        background-image: url(../images/aboutw.jpg);
    }
    @media screen and (max-width: 1920px) {
        background-image: url(../images/aboutfhd.jpg);
    }
    @media screen and (max-width: 1280px) {
        background-image: url(../images/abouthd.jpg);
    }
    @media screen and (max-width: 991px) {
        background-image: url(../images/aboutshd.jpg);
    }
    @media screen and (max-width: 720px) {
        background-image: url(../images/aboutsd.jpg);
    }
    background-position: center;
    background-size: cover;
    padding: 110px 0;
    .pos1 {
        padding: 0;
        img {
            width: 100%;
        }
        .co1 {
            background-color: #333;
            h4 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 2.15rem;
                color: #fff;
                padding: 50px;
                margin: 0;
            }
        }
        
    }
    .pos2 {
        @media screen and (min-width: 992px) {
            margin-top: 222px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 15px;
        }
        padding: 0;
        img {
            @media screen and (max-width: 991px) {
                border-top-left-radius: .375rem;
            }
            width: 100%;
            border-top-right-radius: .375rem;
        }
        .co2 {
            background-color: #CCC;
            padding: 20px;
            h3 {
                font-family: 'Playfair Display', sans-serif;
                font-weight: 700;
                font-size: 2rem;
                margin: 0;
            }
            p {
                margin: 20px;
            }
            button {
                padding: 15px 20px;
                font-weight: bold;
            }
        }
    }
    .pos3 {
        @media screen and (min-width: 992px) {
            margin-top: 422px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 15px;
        }
        padding: 0;
        
        img {
            @media screen and (max-width: 991px) {
                border-top-left-radius: .375rem;
                border-bottom-left-radius: .375rem;
            }
            width: 100%;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }
    }
}
// ABOUT SECTION //